# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# IPython Notebook
.ipynb_checkpoints

# pyenv
.python-version

# mypy
.mypy_cache

# celery beat schedule file
celerybeat-schedule

# dotenv
.env

# virtualenv
venv/
ENV/

# Spyder project settings
.spyderproject

# Rope project settings
.ropeproject

# PyCharm
.idea/

# For mac
.DS_Store
research/object_detection/faster_rcnn_inception_resnet_v2_640x640_coco17_tpu-8.tar.gz
research/object_detection/colab_tutorials/centernet_hg104_512x512_kpts_coco17_tpu-32.tar.gz
research/object_detection/colab_tutorials/centernet_hg104_512x512_kpts_coco17_tpu-32/checkpoint/checkpoint
research/object_detection/colab_tutorials/centernet_hg104_512x512_kpts_coco17_tpu-32/checkpoint/ckpt-0.data-00000-of-00001
research/object_detection/colab_tutorials/centernet_hg104_512x512_kpts_coco17_tpu-32/checkpoint/ckpt-0.index
research/object_detection/colab_tutorials/centernet_hg104_512x512_kpts_coco17_tpu-32/saved_model/saved_model.pb
research/object_detection/colab_tutorials/centernet_hg104_512x512_kpts_coco17_tpu-32/saved_model/variables/variables.data-00000-of-00001
research/object_detection/colab_tutorials/centernet_hg104_512x512_kpts_coco17_tpu-32/saved_model/variables/variables.index
research/object_detection/faster_rcnn_inception_resnet_v2_640x640_coco17_tpu-8/checkpoint/checkpoint
research/object_detection/faster_rcnn_inception_resnet_v2_640x640_coco17_tpu-8/checkpoint/ckpt-0.data-00000-of-00001
research/object_detection/faster_rcnn_inception_resnet_v2_640x640_coco17_tpu-8/checkpoint/ckpt-0.index
research/object_detection/faster_rcnn_inception_resnet_v2_640x640_coco17_tpu-8/saved_model/saved_model.pb
research/object_detection/faster_rcnn_inception_resnet_v2_640x640_coco17_tpu-8/saved_model/variables/variables.data-00000-of-00001
research/object_detection/faster_rcnn_inception_resnet_v2_640x640_coco17_tpu-8/saved_model/variables/variables.index
research/object_detection/test_data/checkpoint/checkpoint
research/object_detection/test_data/checkpoint/ckpt-0.data-00000-of-00001
research/object_detection/test_data/checkpoint/ckpt-0.index

# Misc stuff
research/object_detection/images
research/object_detection/faster_rcnn_resnet50_v1_640x640_coco17_tpu-8.tar.gz
research/object_detection/faster_rcnn_resnet50_v1_640x640_coco17_tpu-8 /checkpoint
research/object_detection/faster_rcnn_resnet50_v1_640x640_coco17_tpu-8 /ckpt-1.data-00000-of-00001
research/object_detection/faster_rcnn_resnet50_v1_640x640_coco17_tpu-8 /ckpt-1.index
research/object_detection/test_data/efficientdet_d5_coco17_tpu-32/pipeline.config
research/object_detection/test_data/efficientdet_d5_coco17_tpu-32/checkpoint/checkpoint
research/object_detection/test_data/efficientdet_d5_coco17_tpu-32/checkpoint/ckpt-0.data-00000-of-00001
research/object_detection/test_data/efficientdet_d5_coco17_tpu-32/checkpoint/ckpt-0.index
research/object_detection/test_data/efficientdet_d5_coco17_tpu-32/saved_model/saved_model.pb
research/object_detection/test_data/efficientdet_d5_coco17_tpu-32/saved_model/variables/variables.data-00000-of-00001
research/object_detection/test_data/efficientdet_d5_coco17_tpu-32/saved_model/variables/variables.index
research/object_detection/training/faster_rcnn_resnet50_v1_640x640_coco17_tpu-8/pipeline.config
research/object_detection/training/faster_rcnn_resnet50_v1_640x640_coco17_tpu-8/checkpoint/checkpoint
research/object_detection/training/faster_rcnn_resnet50_v1_640x640_coco17_tpu-8/checkpoint/ckpt-0.data-00000-of-00001
research/object_detection/training/faster_rcnn_resnet50_v1_640x640_coco17_tpu-8/checkpoint/ckpt-0.index
research/object_detection/training/faster_rcnn_resnet50_v1_640x640_coco17_tpu-8/saved_model/saved_model.pb
research/object_detection/training/faster_rcnn_resnet50_v1_640x640_coco17_tpu-8/saved_model/variables/variables.data-00000-of-00001
research/object_detection/training/faster_rcnn_resnet50_v1_640x640_coco17_tpu-8/saved_model/variables/variables.index
research/object_detection/training/efficientdet_d3_coco17_tpu-32/checkpoint/checkpoint
research/object_detection/training/efficientdet_d3_coco17_tpu-32/checkpoint/ckpt-0.data-00000-of-00001
research/object_detection/training/efficientdet_d3_coco17_tpu-32/checkpoint/ckpt-0.index
research/object_detection/training/efficientdet_d3_coco17_tpu-32/saved_model/saved_model.pb
research/object_detection/training/efficientdet_d3_coco17_tpu-32/saved_model/variables/variables.data-00000-of-00001
research/object_detection/training/efficientdet_d3_coco17_tpu-32/saved_model/variables/variables.index
research/object_detection/training/efficientdet_d6_coco17_tpu-32/checkpoint/checkpoint
research/object_detection/training/efficientdet_d6_coco17_tpu-32/checkpoint/ckpt-0.data-00000-of-00001
research/object_detection/training/efficientdet_d6_coco17_tpu-32/checkpoint/ckpt-0.index
research/object_detection/training/efficientdet_d6_coco17_tpu-32/saved_model/saved_model.pb
research/object_detection/training/efficientdet_d6_coco17_tpu-32/saved_model/variables/variables.data-00000-of-00001
research/object_detection/training/efficientdet_d6_coco17_tpu-32/saved_model/variables/variables.index
research/object_detection/efficientdet_d3_coco17_tpu-32.tar.gz
research/object_detection/efficientdet_d6_coco17_tpu-32.tar.gz
research/object_detection/efficientdet_d6_coco17_tpu-32/checkpoint
research/object_detection/efficientdet_d6_coco17_tpu-32/ckpt-1.data-00000-of-00001
research/object_detection/efficientdet_d6_coco17_tpu-32/ckpt-1.index
research/object_detection/efficientdet_d6_coco17_tpu-32/ckpt-2.data-00000-of-00001
research/object_detection/efficientdet_d6_coco17_tpu-32/ckpt-2.index
research/object_detection/efficientdet_d6_coco17_tpu-32/ckpt-3.data-00000-of-00001
research/object_detection/efficientdet_d6_coco17_tpu-32/ckpt-3.index
research/object_detection/efficientdet_d6_coco17_tpu-32/train/events.out.tfevents.1733629689.cudapoc-machine.24730.0.v2
research/object_detection/efficientdet_d6_coco17_tpu-32/train/events.out.tfevents.1733629888.cudapoc-machine.25921.0.v2
research/object_detection/efficientdet_d6_coco17_tpu-32/train/events.out.tfevents.1733630080.cudapoc-machine.27258.0.v2
research/object_detection/faster_rcnn_resnet50_v1_640x640_coco17_tpu-8 /train/events.out.tfevents.1733628787.cudapoc-machine.20477.0.v2
research/object_detection/efficientdet_d3_coco17_tpu-32/checkpoint
research/object_detection/efficientdet_d3_coco17_tpu-32/ckpt-2.data-00000-of-00001
research/object_detection/efficientdet_d3_coco17_tpu-32/ckpt-2.index
research/object_detection/efficientdet_d3_coco17_tpu-32/ckpt-3.data-00000-of-00001
research/object_detection/efficientdet_d3_coco17_tpu-32/ckpt-3.index
research/object_detection/efficientdet_d3_coco17_tpu-32/ckpt-4.data-00000-of-00001
research/object_detection/efficientdet_d3_coco17_tpu-32/ckpt-4.index
research/object_detection/efficientdet_d3_coco17_tpu-32/ckpt-5.data-00000-of-00001
research/object_detection/efficientdet_d3_coco17_tpu-32/ckpt-5.index
research/object_detection/efficientdet_d3_coco17_tpu-32/ckpt-6.data-00000-of-00001
research/object_detection/efficientdet_d3_coco17_tpu-32/ckpt-6.index
research/object_detection/efficientdet_d3_coco17_tpu-32/ckpt-7.data-00000-of-00001
research/object_detection/efficientdet_d3_coco17_tpu-32/ckpt-7.index
research/object_detection/efficientdet_d3_coco17_tpu-32/ckpt-8.data-00000-of-00001
research/object_detection/efficientdet_d3_coco17_tpu-32/ckpt-8.index
research/object_detection/efficientdet_d3_coco17_tpu-32/train/events.out.tfevents.1733630854.cudapoc-machine.31226.0.v2
research/object_detection/efficientdet_d1_coco17_tpu-32.tar.gz
research/object_detection/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8.tar.gz
research/object_detection/ssd_resnet50_v1_fpn_1024x1024_coco17_tpu-8.tar.gz
research/object_detection/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8/checkpoint
research/object_detection/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8/ckpt-1.data-00000-of-00001
research/object_detection/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8/ckpt-1.index
research/object_detection/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8/ckpt-2.data-00000-of-00001
research/object_detection/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8/ckpt-2.index
research/object_detection/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8/ckpt-3.data-00000-of-00001
research/object_detection/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8/ckpt-3.index
research/object_detection/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8/train/events.out.tfevents.1733725624.cudapoc-machine.47680.0.v2
research/object_detection/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8/train/events.out.tfevents.1733752546.cudapoc-machine.97578.0.v2
research/object_detection/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8_2/checkpoint
research/object_detection/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8_2/ckpt-1.data-00000-of-00001
research/object_detection/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8_2/ckpt-1.index
research/object_detection/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8_2/ckpt-2.data-00000-of-00001
research/object_detection/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8_2/ckpt-2.index
research/object_detection/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8_2/ckpt-3.data-00000-of-00001
research/object_detection/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8_2/ckpt-3.index
research/object_detection/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8_2/train/events.out.tfevents.1733752647.cudapoc-machine.97976.0.v2
research/object_detection/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8_3/checkpoint
research/object_detection/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8_3/ckpt-1.data-00000-of-00001
research/object_detection/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8_3/ckpt-1.index
research/object_detection/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8_3/ckpt-2.data-00000-of-00001
research/object_detection/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8_3/ckpt-2.index
research/object_detection/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8_3/ckpt-3.data-00000-of-00001
research/object_detection/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8_3/ckpt-3.index
research/object_detection/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8_3/train/events.out.tfevents.1733755415.cudapoc-machine.106534.0.v2
research/object_detection/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8_4/checkpoint
research/object_detection/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8_4/ckpt-1.data-00000-of-00001
research/object_detection/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8_4/ckpt-1.index
research/object_detection/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8_4/ckpt-2.data-00000-of-00001
research/object_detection/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8_4/ckpt-2.index
research/object_detection/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8_4/ckpt-3.data-00000-of-00001
research/object_detection/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8_4/ckpt-3.index
research/object_detection/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8_4/train/events.out.tfevents.1733757739.cudapoc-machine.112241.0.v2
research/object_detection/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8_5/checkpoint
research/object_detection/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8_5/ckpt-1.data-00000-of-00001
research/object_detection/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8_5/ckpt-1.index
research/object_detection/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8_5/ckpt-2.data-00000-of-00001
research/object_detection/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8_5/ckpt-2.index
research/object_detection/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8_5/ckpt-3.data-00000-of-00001
research/object_detection/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8_5/ckpt-3.index
research/object_detection/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8_5/ckpt-4.data-00000-of-00001
research/object_detection/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8_5/ckpt-4.index
research/object_detection/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8_5/ckpt-5.data-00000-of-00001
research/object_detection/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8_5/ckpt-5.index
research/object_detection/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8_5/train/events.out.tfevents.1733760138.cudapoc-machine.118042.0.v2
research/object_detection/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8_6/checkpoint
research/object_detection/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8_6/ckpt-1.data-00000-of-00001
research/object_detection/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8_6/ckpt-1.index
research/object_detection/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8_6/ckpt-2.data-00000-of-00001
research/object_detection/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8_6/ckpt-2.index
research/object_detection/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8_6/ckpt-3.data-00000-of-00001
research/object_detection/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8_6/ckpt-3.index
research/object_detection/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8_6/ckpt-4.data-00000-of-00001
research/object_detection/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8_6/ckpt-4.index
research/object_detection/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8_6/ckpt-5.data-00000-of-00001
research/object_detection/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8_6/ckpt-5.index
research/object_detection/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8_6/train/events.out.tfevents.1733762502.cudapoc-machine.124945.0.v2
research/object_detection/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8_7/checkpoint
research/object_detection/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8_7/ckpt-1.data-00000-of-00001
research/object_detection/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8_7/ckpt-1.index
research/object_detection/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8_7/ckpt-2.data-00000-of-00001
research/object_detection/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8_7/ckpt-2.index
research/object_detection/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8_7/ckpt-3.data-00000-of-00001
research/object_detection/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8_7/ckpt-3.index
research/object_detection/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8_7/ckpt-4.data-00000-of-00001
research/object_detection/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8_7/ckpt-4.index
research/object_detection/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8_7/ckpt-5.data-00000-of-00001
research/object_detection/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8_7/ckpt-5.index
research/object_detection/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8_7/train/events.out.tfevents.1733773766.cudapoc-machine.147547.0.v2
research/object_detection/training/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8.config
research/object_detection/training/efficientdet_d1_coco17_tpu-32/pipeline.config
research/object_detection/training/efficientdet_d1_coco17_tpu-32/checkpoint/checkpoint
research/object_detection/training/efficientdet_d1_coco17_tpu-32/checkpoint/ckpt-0.data-00000-of-00001
research/object_detection/training/efficientdet_d1_coco17_tpu-32/checkpoint/ckpt-0.index
research/object_detection/training/efficientdet_d1_coco17_tpu-32/saved_model/saved_model.pb
research/object_detection/training/efficientdet_d1_coco17_tpu-32/saved_model/variables/variables.data-00000-of-00001
research/object_detection/training/efficientdet_d1_coco17_tpu-32/saved_model/variables/variables.index
research/object_detection/training/efficientdet_d3_coco17_tpu-32/pipeline.config
research/object_detection/training/efficientdet_d6_coco17_tpu-32/pipeline.config
research/object_detection/training/ssd_resnet50_v1_fpn_1024x1024_coco17_tpu-8/pipeline.config
research/object_detection/training/ssd_resnet50_v1_fpn_1024x1024_coco17_tpu-8/checkpoint/checkpoint
research/object_detection/training/ssd_resnet50_v1_fpn_1024x1024_coco17_tpu-8/checkpoint/ckpt-0.data-00000-of-00001
research/object_detection/training/ssd_resnet50_v1_fpn_1024x1024_coco17_tpu-8/checkpoint/ckpt-0.index
research/object_detection/training/ssd_resnet50_v1_fpn_1024x1024_coco17_tpu-8/saved_model/saved_model.pb
research/object_detection/training/ssd_resnet50_v1_fpn_1024x1024_coco17_tpu-8/saved_model/variables/variables.data-00000-of-00001
research/object_detection/training/ssd_resnet50_v1_fpn_1024x1024_coco17_tpu-8/saved_model/variables/variables.index
research/object_detection/training/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8/pipeline.config
research/object_detection/training/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8/checkpoint/checkpoint
research/object_detection/training/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8/checkpoint/ckpt-0.data-00000-of-00001
research/object_detection/training/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8/checkpoint/ckpt-0.index
research/object_detection/training/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8/saved_model/saved_model.pb
research/object_detection/training/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8/saved_model/variables/variables.data-00000-of-00001
research/object_detection/training/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8/saved_model/variables/variables.index
research/object_detection/ssd_resnet152_v1_fpn_640x640_coco17_tpu-8.tar.gz
research/object_detection/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8_8/checkpoint
research/object_detection/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8_8/ckpt-5.data-00000-of-00001
research/object_detection/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8_8/ckpt-5.index
research/object_detection/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8_8/ckpt-6.data-00000-of-00001
research/object_detection/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8_8/ckpt-6.index
research/object_detection/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8_8/ckpt-7.data-00000-of-00001
research/object_detection/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8_8/ckpt-7.index
research/object_detection/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8_8/ckpt-8.data-00000-of-00001
research/object_detection/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8_8/ckpt-8.index
research/object_detection/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8_8/ckpt-9.data-00000-of-00001
research/object_detection/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8_8/ckpt-9.index
research/object_detection/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8_8/ckpt-10.data-00000-of-00001
research/object_detection/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8_8/ckpt-10.index
research/object_detection/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8_8/ckpt-11.data-00000-of-00001
research/object_detection/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8_8/ckpt-11.index
research/object_detection/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8_8/train/events.out.tfevents.1733776280.cudapoc-machine.154603.0.v2
research/object_detection/training/ssd_resnet152_v1_fpn_640x640_coco17_tpu-8/pipeline.config
research/object_detection/training/ssd_resnet152_v1_fpn_640x640_coco17_tpu-8/checkpoint/checkpoint
research/object_detection/training/ssd_resnet152_v1_fpn_640x640_coco17_tpu-8/checkpoint/ckpt-0.data-00000-of-00001
research/object_detection/training/ssd_resnet152_v1_fpn_640x640_coco17_tpu-8/checkpoint/ckpt-0.index
research/object_detection/training/ssd_resnet152_v1_fpn_640x640_coco17_tpu-8/saved_model/saved_model.pb
research/object_detection/training/ssd_resnet152_v1_fpn_640x640_coco17_tpu-8/saved_model/variables/variables.data-00000-of-00001
research/object_detection/training/ssd_resnet152_v1_fpn_640x640_coco17_tpu-8/saved_model/variables/variables.index
research/object_detection/ssd_resnet152_v1_fpn_640x640_coco17_tpu-8/checkpoint
research/object_detection/ssd_resnet152_v1_fpn_640x640_coco17_tpu-8/ckpt-20.data-00000-of-00001
research/object_detection/ssd_resnet152_v1_fpn_640x640_coco17_tpu-8/ckpt-20.index
research/object_detection/ssd_resnet152_v1_fpn_640x640_coco17_tpu-8/ckpt-21.data-00000-of-00001
research/object_detection/ssd_resnet152_v1_fpn_640x640_coco17_tpu-8/ckpt-21.index
research/object_detection/ssd_resnet152_v1_fpn_640x640_coco17_tpu-8/ckpt-22.data-00000-of-00001
research/object_detection/ssd_resnet152_v1_fpn_640x640_coco17_tpu-8/ckpt-22.index
research/object_detection/ssd_resnet152_v1_fpn_640x640_coco17_tpu-8/ckpt-23.data-00000-of-00001
research/object_detection/ssd_resnet152_v1_fpn_640x640_coco17_tpu-8/ckpt-23.index
research/object_detection/ssd_resnet152_v1_fpn_640x640_coco17_tpu-8/ckpt-24.data-00000-of-00001
research/object_detection/ssd_resnet152_v1_fpn_640x640_coco17_tpu-8/ckpt-24.index
research/object_detection/ssd_resnet152_v1_fpn_640x640_coco17_tpu-8/ckpt-25.data-00000-of-00001
research/object_detection/ssd_resnet152_v1_fpn_640x640_coco17_tpu-8/ckpt-25.index
research/object_detection/ssd_resnet152_v1_fpn_640x640_coco17_tpu-8/ckpt-26.data-00000-of-00001
research/object_detection/ssd_resnet152_v1_fpn_640x640_coco17_tpu-8/ckpt-26.index
research/object_detection/ssd_resnet152_v1_fpn_640x640_coco17_tpu-8/train/events.out.tfevents.1733780164.cudapoc-machine.166807.0.v2
research/object_detection/ssd_resnet152_v1_fpn_640x640_coco17_tpu-8_2/checkpoint
research/object_detection/ssd_resnet152_v1_fpn_640x640_coco17_tpu-8_2/ckpt-5.data-00000-of-00001
research/object_detection/ssd_resnet152_v1_fpn_640x640_coco17_tpu-8_2/ckpt-5.index
research/object_detection/ssd_resnet152_v1_fpn_640x640_coco17_tpu-8_2/ckpt-6.data-00000-of-00001
research/object_detection/ssd_resnet152_v1_fpn_640x640_coco17_tpu-8_2/ckpt-6.index
research/object_detection/ssd_resnet152_v1_fpn_640x640_coco17_tpu-8_2/ckpt-7.data-00000-of-00001
research/object_detection/ssd_resnet152_v1_fpn_640x640_coco17_tpu-8_2/ckpt-7.index
research/object_detection/ssd_resnet152_v1_fpn_640x640_coco17_tpu-8_2/ckpt-8.data-00000-of-00001
research/object_detection/ssd_resnet152_v1_fpn_640x640_coco17_tpu-8_2/ckpt-8.index
research/object_detection/ssd_resnet152_v1_fpn_640x640_coco17_tpu-8_2/ckpt-9.data-00000-of-00001
research/object_detection/ssd_resnet152_v1_fpn_640x640_coco17_tpu-8_2/ckpt-9.index
research/object_detection/ssd_resnet152_v1_fpn_640x640_coco17_tpu-8_2/ckpt-10.data-00000-of-00001
research/object_detection/ssd_resnet152_v1_fpn_640x640_coco17_tpu-8_2/ckpt-10.index
research/object_detection/ssd_resnet152_v1_fpn_640x640_coco17_tpu-8_2/ckpt-11.data-00000-of-00001
research/object_detection/ssd_resnet152_v1_fpn_640x640_coco17_tpu-8_2/ckpt-11.index
research/object_detection/ssd_resnet152_v1_fpn_640x640_coco17_tpu-8_2/train/events.out.tfevents.1733791608.cudapoc-machine.180708.0.v2
research/object_detection/training/ssd_resnet152_v1_fpn_640x640_coco17_tpu-8/ckpt-1.data-00000-of-00001
research/object_detection/training/ssd_resnet152_v1_fpn_640x640_coco17_tpu-8/train/events.out.tfevents.1733780048.cudapoc-machine.166055.0.v2
research/object_detection/training/ssd_resnet152_v1_fpn_640x640_coco17_tpu-8/ckpt-1.index
research/object_detection/training/ssd_resnet152_v1_fpn_640x640_coco17_tpu-8/train/events.out.tfevents.1733780115.cudapoc-machine.166443.0.v2
research/object_detection/ssd_resnet152_v1_fpn_640x640_coco17_tpu-8_3/checkpoint
research/object_detection/ssd_resnet152_v1_fpn_640x640_coco17_tpu-8_3/ckpt-20.data-00000-of-00001
research/object_detection/ssd_resnet152_v1_fpn_640x640_coco17_tpu-8_3/ckpt-20.index
research/object_detection/ssd_resnet152_v1_fpn_640x640_coco17_tpu-8_3/ckpt-21.data-00000-of-00001
research/object_detection/ssd_resnet152_v1_fpn_640x640_coco17_tpu-8_3/ckpt-21.index
research/object_detection/ssd_resnet152_v1_fpn_640x640_coco17_tpu-8_3/ckpt-22.data-00000-of-00001
research/object_detection/ssd_resnet152_v1_fpn_640x640_coco17_tpu-8_3/ckpt-22.index
research/object_detection/ssd_resnet152_v1_fpn_640x640_coco17_tpu-8_3/ckpt-23.data-00000-of-00001
research/object_detection/ssd_resnet152_v1_fpn_640x640_coco17_tpu-8_3/ckpt-23.index
research/object_detection/ssd_resnet152_v1_fpn_640x640_coco17_tpu-8_3/ckpt-24.data-00000-of-00001
research/object_detection/ssd_resnet152_v1_fpn_640x640_coco17_tpu-8_3/ckpt-24.index
research/object_detection/ssd_resnet152_v1_fpn_640x640_coco17_tpu-8_3/ckpt-25.data-00000-of-00001
research/object_detection/ssd_resnet152_v1_fpn_640x640_coco17_tpu-8_3/ckpt-25.index
research/object_detection/ssd_resnet152_v1_fpn_640x640_coco17_tpu-8_3/ckpt-26.data-00000-of-00001
research/object_detection/ssd_resnet152_v1_fpn_640x640_coco17_tpu-8_3/ckpt-26.index
research/object_detection/ssd_resnet152_v1_fpn_640x640_coco17_tpu-8_3/train/events.out.tfevents.1733798898.cudapoc-machine.195384.0.v2
